<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Doctor Dashboard</title>

        <link rel="icon" type="image/png" th:href="@{/assets/images/logo/favicon.ico}" />
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/header.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/footer.css}" />

        <script th:src="@{/js/components/header.js}" defer></script>
        <script th:src="@{/js/components/footer.js}" defer></script>
        <script th:src="@{/js/doctorDashboard.js}" type="module" defer></script>
    </head>

    <body>
        <div class="container">
            <div class="wrapper">
                <div id="header"></div>

                <main class="main-content">
                    <section class="dashboard-controls">
                        <input type="text" id="searchBar" class="input-field" placeholder="Search patient by name or email" />
                    </section>

                    <section class="filter-section">
                        <button id="todayAppointmentsBtn" class="dashboard-btn">
                            Today's Appointments
                        </button>

                        <input type="date" id="appointmentDate" class="input-field" />
                    </section>

                    <section class="table-section">
                        <table id="patientTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Patient ID</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody id="patientTableBody"></tbody>
                        </table>
                    </section>
                </main>

                <div id="footer"></div>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <div id="modal-body"></div>
            </div>
        </div>
    </body>
</html>
